# directories
*.log
ideas/
node_modules/

# files
.DS_Store

# dist
dist/*
!dist/yarn.lock
!dist/package.json

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
