/* #window */
.tab_textInner {
  font-size: 14px;
}

.tab_icon {
  right: 10px;
  top: 12px;
  width: 10px;
  height: 10px;
}

.tab_shape {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  color: rgb(204, 204, 204);
}

/* #terminal */
/* CSS for the terminal goes here */
